@font-face{
  font-family: Mindcraft;
  src: url(https://dl.dropbox.com/s/2hvsh0hcexm5tao/minecraft_font_by_pwnage_block-d37t6nb.ttf)
}

body{
  background-color: black;
  font-family: Mindcraft;
  color: gray;
  background-image: url("https://dl.dropboxusercontent.com/s/c40o63760w3f6a4/bg.jpeg");

}
#header{
text-align: center;
padding: 5px;
margin-bottom: 1cm;
color: gray;
}
#nav{
  float: left;
padding: 6px;
  position: inline;
  opacity: 0.8;
  color: black;
  margin-bottom: 2cm;
}
ul{
  list-style-type: none;
  padding: 0;
  padding: 5px;
  overflow: hidden;
}
.contentPost{
  background-color: black;
  opacity: 0.8;
  color: white
  height: 1000px;
  width: 1200px;
}
li{
  float: left;
  margin-right: 4px;
  color: black;
  opacity: 0.9;
  padding: 2px;
  display: inline;
  background-image: url("http://pixelpapercraft.com/files/1335684299762.jpg");
}
a{
  color: lightgray;
  display: block;
  width: 80px;
}
h1,h2,h3,h4,h5,h6,p,b{
  opacity: 1;
}
.content{
  font-family:Mindcraft;
  width: 1200px;
  background-color: gray;
  opacity: 0.7;
  color: white;
  padding: 5px;
  font-size: 9px;
}
