@font-face{
  font-family: Mindcraft;
  src: url(https://dl.dropbox.com/s/2hvsh0hcexm5tao/minecraft_font_by_pwnage_block-d37t6nb.ttf)
}

body{
  background-color: black;
  font-family: Mindcraft;
  color: gray;
}
#header{
text-align: center;
padding: 5px;
background-color: black;
color: gray;
}
#nav{
  float: left;
  position: inline;
  background-color: black;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  display: inline;
}
a{
  color: lightgray;
  display: block;
  width: 80px;
}
.content{
  font-family:Mindcraft;
  float: left;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 9px;
}
