body{
  background-color: black;
  color: gray;
}
#header{
text-align: center;
padding: 5px;
background-color: black;
color: gray;
}
#nav{
  float: left;
  position: inline;
  background-color: black;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  display: inline;
}
a{
  color: lightgray;
  display: block;
  width: 80px;
}
.content{
  float: left;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 9px;
}
