
#game{
border-style: solid;
height: 400px;
width: 600px;
}
#player{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#coins{
  text-align: left;
  margin-right: 2cm;
  font-size: 32px;
  color: yellow;
  display: inline;
}
#health{
  text-align: center;
  margin-right: 2cm;
  font-size: 32px;
  color: red;
  display: inline;
}
#Xp{
  text-align: right;
  margin-right: 2cm;
  font-size: 32px;
  color: lightblue;
  display: inline;
}
