//Game
body{
  background-color: lightgreen;
}
#game{
border-style: solid;
height: 700px;
width: 1000px;
}
#coins{
  text-align: left;
  font-size: 17px;
  color: yellow;
  display: inline;
}
#health{
  text-align: center;
  font-size: 17px;
  color: red;
  display: inline;
}
#Xp{
  text-align: right;
  font-size: 17px;
  color: lightblue;
  display: inline;
}
